.Body {
    height: 100%;
    width : 100%;
    position: absolute;

    display: flex;
    flex-direction: row;
}

.Links {
    width: 20%;
    background-color: rgb(66, 66, 66);

    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;

    font-size: larger;

}

.Link {
    padding: 10px 0px;
    list-style-type: none;
    text-align: center;
    white-space: nowrap;
}

.Word {
    color: aliceblue;
    font-size: 30px;
}

.Content {
    width: 100%;
    padding: 20px;
}