.Body {
    width: 100%;

    display: flex;
    flex-direction: row;
}

.Links {
    width: 25%;
    background-color: azure;

    display: flex;
    justify-content: center;
    align-items: center;
}

.Content {
    width: 75%;
    background-color: rgb(110, 20, 20);

    display: flex;
    padding: 2%;
}