.Header {
    display: flex;
    flex-direction: column;
}

.Pics {
    height: 150px;
}

.Pic {
    width: 100%;
    height: 150px;
    object-fit: none;
    object-position: center center;
}

.LabName {
    color: white;
    background-color: brown;
    padding: 5px 5%;
}